<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOA - Biblioteca</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" ></script>
    <link rel="stylesheet" href="./../static/css/semantic-ui/semantic.css" th:href="@{/css/semantic-ui/semantic.css}">
    <script type="text/javascript" src="./../static/css/semantic-ui/semantic.js" th:src="@{/css/semantic-ui/semantic.js}"></script>
    <link rel="stylesheet" href="./../static/css/style.css" th:href="@{/css/style.css}">
    <style>
        #topbar{
            background-color: var(--scoa-azul);
        }
        #menu{
            background-color: white;
            color: black;
        }
    </style>
    <script src="./../static/javascript/app.js" th:src="@{/javascript/app.js}"></script>
</head>
<body class="flex flexhorizontal">
    <div class=" flex padded shadow" id="topbar">
        <header class="flex flexfill"> <!--right aligned header-->
            <div class="" id="admin-menu-wrapper"> <!-- container para o menu de gerenciamento, deve ser da classe "invisible" se o usuario atual nao tiver privilegios administrativos -->
                <div class="ui compact menu ">
                    <div href="" class="ui simple dropdown item" id="">
                        <i class="file icon" style="padding-right: 10px;"></i>
                        <div class="menu">
                            <div href="" class="ui simple dropdown item">
                                <i class="dropdown icon"></i>
                                
                                <div class="menu">
                                    <div class="ui simple dropdown item">
                                        <i class="dropdown icon"></i>
                                        <div class="menu">
                                            <a href="/biblioteca/obra/artigo" class="item">Artigo</a>

                                            <a href="/biblioteca/obra/filme" class="item">Filme</a>

                                            <a href="/biblioteca/obra/jornal" class="item">Jornal</a>

                                            <a href="/biblioteca/obra/livro" class="item">Livro</a>

                                            <a href="/biblioteca/obra/manual" class="item">Manual</a>

                                            <a href="" class="item">Revista</a>
                                        </div>    
                                        Obra
                                    </div>
                                    <div class="item">Aluno</div>
                                    <div class="item">Professor</div>
                                    <div class="item">Funcionario</div>
                                </div>
                                
                                Cadastrar
                            </div>
                            <a href="" class="item">Emitir relatorios</a>
                        </div>
                        Arquivo
                    </div>
                </div>
            </div>
        </header>
        
        <header class=" flex flexfill leftAligned">
            <div class="ui compact menu">
                <div href="" class="ui simple dropdown item" id="">
                    Usuario
                    <i class="user icon" style="padding-left: 10px;"></i>
                    <div class="menu">
                        <a href="" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </header>
        
    </div>
    <div class="flex flexhorizontal padded">
        
        <div class="ui top attached tabular menu">
            <div class="item tab active link" data-tab="obras" id="obras_tab">
                Obras
            </div>
            <div class="item tab link" data-tab="emprestimos" id="emprestimos_tab">
                Emprestimos
            </div>

            <div class="right menu"><!--menu de pesquisa-->
              <div class="item">
                <div class="ui transparent icon input">
                  <input type="text" placeholder="Pesquisar...">
                  <i class="search link icon"></i>
                </div>
              </div>
            </div>
        </div>

        <div class="ui bottom attached segment">
            <div class="ui tab " data-tab="obras" style="display: flex;">
                <table class="ui celled table unstackable ">
                    <thead>
                        <tr>
                            <th>Titulo</th>
                            <th>Ano de Publicação</th>
                            <th>Idioma</th>
                            <th>Palavras Chave</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>teste</td>
                            <td>2015</td>
                            <td>Inglês</td>
                            <td>Comédia, Romance</td>
                            <td>Livro</td>
                            <td>tt</td>
                        </tr>
                        <tr>
                            <td>bbb</td>
                            <td>2015</td>
                            <td>Português</td>
                            <td>Comédia, Romance</td>
                            <td>Filme</td>
                            <td>tt</td>
                        </tr>
                        <tr data-th-each="obra : ${obras}">
                            <td data-th-text = "${obra.titulo}">aaa</td>
                            <td data-th-text = "${obra.anoPublicacao}">aaa</td>
                            <td data-th-text = "${obra.idioma}">aaa</td>
                            <td data-th-text = "${obra.palavrasChave}">aaa</td>
                            <td data-th-text = "${obra.TIPO}">aaa</td>
                            <td data-th-text = "${obra.id}" class="invisible">aaa</td>
                            <td>
                                <div class="flexcentered flexfill">
                                    <button class="flexfill flexcentered negative ui button "
                                    th:onclick="|delete_obra('${obra.id}')|">
                                        <i>
                                            <i class="close icon"></i>
                                        </i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="ui tab" data-tab="emprestimos">
                <table class="ui celled table unstackable">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Obras</th>
                            <th>Prazo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>2015</td>
                        </tr>
                        <tr>
                            <td>teste</td>
                            <td>teste</td>
                            <td>2013</td>
                        </tr>
                        
                        <tr data-th-each="emprestimo : ${emprestimos}">
                        <!-- comment    <td data-th-text = "${emprestimo.cliente}"></td>  -->
                            <td> emprestimo.cliente </td>
                            <td>
                                <span  data-th-each="obra : ${emprestimo.obras}">
                                    <span data-th-text="${obra.titulo}">  </span> <br>
                                </span>
                            </td>
                            <td data-th-text = "${emprestimo.prazo}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    </div>

</body>
</html>