<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOA - Login</title>
    <link rel="stylesheet" href="./../static/css/semantic-ui/semantic.css">
    <script src="./../static/css/semantic-ui/semantic.js"></script>
    <link rel="stylesheet" href="./../static/css/style.css">
    
</head>

<body>
    
    <div class="flexcentered">
        <h1>Controle de Acesso</h1>
    </div>
    <div class="flexcentered">
      <img src="./../static/images/SCOA.png" alt="SCOA logo" id="scoalogo">
    </div>
    
    <div class="ui container">
        <form class="ui form" method="post" action="/login"><!--Como ainda n existe sistema de login, /login aqui é temporario e não faz nada, substituir no futuro pela uri de login da api -->
            <div class="field">
              <label>E-mail</label>
              <input type="email" name="nome" placeholder="E-mail" id="email">
            </div>
            <div class="field">
              <label>Senha</label>
              <input type="password" name="senha" placeholder="Senha" id="senha">
            </div>
            <button class="ui button primary" type="submit" name="Login">Login</button>
          </form>
          <br>
          <button class="ui basic button">
            <a href="">Registrar</a>
          </button>
    </div>

</body>

</html>