<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOA - Login</title>
    <link rel="stylesheet" href="./../static/css/semantic-ui/semantic.css">
    <script src="./../static/css/semantic-ui/semantic.js"></script>
    <link rel="stylesheet" href="./../static/css/style.css">
    
</head>

<body style="margin-left: 31%; margin-right: 31%;" class="scoa_form">
    
    
    <div class="flexcentered">
      <img src="./../static/images/SCOA ANIM.gif" alt="SCOA logo" id="scoalogo">
    </div>
    <div class="flexcentered">
      <p class = "text_pad_login">
          LOGIN
      </p>
    </div>
    
    <div class="ui container" >
        <form class="ui form" method="post" action="/login"><!--Como ainda n existe sistema de login, /login aqui é temporario e não faz nada, substituir no futuro pela uri de login da api -->
            <div class="field">
              <label>E-mail</label>
              <input type="email" name="nome" placeholder="E-mail" id="email">
            </div>
            <div class="field">
              <label>Senha</label>
              <input type="password" name="senha" placeholder="Senha" id="senha">
            </div>
            <button class="ui button primary" type="submit" name="Login">Login</button>
            <button class="ui basic button"> <a href="">Registrar</a></button>
            <br><br>
            <a href=" "> <h4>Esqueceu sua senha?</h4></a>
          </form>
          <br>
     
    </div>

</body>

</html>