<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOA - Login</title>
    <link rel="stylesheet" href="./../static/css/semantic-ui/semantic.css">
    <script src="./../static/css/semantic-ui/semantic.js"></script>
    <link rel="stylesheet" href="./../static/css/style.css">
    <style>
        body{
            background-color: #2185d0;
            color: white;
        }
        #topbar{
 
            background-color: white;
        }
        #menu{
            background-color: white;
            color: black;
        }
    </style>
</head>
<body class="flex flexhorizontal">
    <div class=" flex padded shadow" id="topbar">
        <header class="  flex flexfill leftAligned">
            <div class="ui compact menu">
                <div href="" class="ui simple dropdown item" id="">
                    Usuario
                    <i class="user icon" style="padding-left: 10px;"></i>
                    <div class="menu">
                        <a href="" class="item">Logout</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="flex flexfill flexcentered flexhorizontal">
        <div class="flex flexcentered flexhorizontal shadow rounded padded" id="menu">
            <h1>Selecione um modulo</h1><br>
            <div class=" flex flexcentered padded">
                <div class="ui basic button">
                    <a href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="" style="height: 15vw;width: 15vw;max-height: 100px;max-width: 100px;">
                    </a>
                </div>
                <div class="ui basic button">
                    <a href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="" style="height: 15vw;width: 15vw;max-height: 100px;max-width: 100px;">
                    </a>
                </div>
                <div class="ui basic button">
                    <a href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="" style="height: 15vw;width: 15vw;max-height: 100px;max-width: 100px;">
                    </a>
                </div>
                <div class="ui basic button">
                    <a href="">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Square_200x200.png" alt="" style="height: 15vw;width: 15vw;max-height: 100px;max-width: 100px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>