<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOA - Registro</title>
    <link rel="stylesheet" href="./../static/css/semantic-ui/semantic.css">
    <script src="./../static/css/semantic-ui/semantic.js"></script>
    <link rel="stylesheet" href="./../static/css/style.css">
    
</head>

<body>
    <div class="flexcentered">
        <h1>Registro</h1>
    </div>
    <div class="flexcentered">
      <img src="./../static/images/SCOA ANIM.gif" alt="SCOA logo" id="scoalogo">
    </div>
    
    <div class="ui container">
        <form class="ui form">
          <div class="field">
              <label>Nome</label>
              <div class="two fields">
                <div class="field">
                  <input type="text" name="nome" placeholder="Nome" id="nome">
                </div>
                <div class="field">
                  <input type="text" name="sobrenome" placeholder="Sobrenome" id="sobrenome">
                </div>
              </div>
            </div>
            
            <div class="field">
              <label>Telefone</label>
              <div class="two fields">
                <div class="one wide field">
                  <div class="field">
                    <input type="tel" name="DDD" id="ddd" placeholder="(xx)" maxlength="2">
                  </div>
                </div>
                <div class="fifteen wide field">
                  <div class="field">
                    <input type="tel" name="numero" id="telefone" placeholder="xxxxxxxxx" maxlength="9">
                  </div>
                </div>
              </div>
            </div>

            <div class="field">
              <label>CPF</label>
              <input type="text" name="cpf" placeholder="xxx.xxx.xxx-xx" id="cpf" maxlength="14">
            </div>
            
            <div class="field">
              <label>E-mail</label>
              <input type="text" name="sobrenome" placeholder="E-mail" id="email">
            </div>
            
            <div class="field">
              <label>Senha</label>
              <input type="password" name="senha" placeholder="Senha" id="senha">
            </div>
            <div class="field">
              <label>Confirme sua senha</label>
              <input type="password" name="senha" placeholder="Senha" id="senha2">
            </div>
            
            <button class="ui button primary" type="submit" name="login">Confirmar</button>
          </form>
    </div>
    <footer>
        <p style="padding: 10px;" >

        </p>
    </footer>
</body>

</html>