<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCOA - Registro</title>
    <link rel="stylesheet" href="./../static/css/semantic-ui/semantic.css">
    <script src="./../static/css/semantic-ui/semantic.js"></script>
    <link rel="stylesheet" href="./../static/css/style.css">
    
</head>

<body>
    <div class="flexcentered">
        <h1>Registro</h1>
    </div>
    <div class="flexcentered">
      <img src="./../static/images/SCOA.png" alt="SCOA logo" id="scoalogo">
    </div>
    
    <div class="ui container">
        <form class="ui form">
            <div class="field">
              <label>Nome</label>
              <input type="text" name="nome" placeholder="Nome">
            </div>
            <div class="field">
              <label>Sobrenome</label>
              <input type="text" name="sobrenome" placeholder="Sobrenome">
            </div>
            <div class="field">
              <label>Senha</label>
              <input type="password" name="senha" placeholder="Senha">
            </div>
            <button class="ui button primary" type="submit" name="login">Login</button>
          </form>
          <br>
          <button class="ui basic button">
            <a href="">Registrar</a>
          </button>
    </div>
    <footer>
        deltamike
        
    </footer>
</body>

</html>