body{
    background-color: white;
    
}

.flexcentered{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flextop{
    display: flex;
    align-items: top;}
.flexright{
    display: flex;
    justify-content: right;
}
.fill{
    height: 100%;
}
.flexfill{
    display: flex;
    height: 100%;
}

.blockcentered{
    display: block;
    margin-left: auto;
}

.flex{
    display: flex;
}
.webpage{
    height: 100%;
}

.separated{
    display: flex;
    margin:10px;
}
.rightAligned{
    align-self: flex-start;
}
.leftAligned{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.window{
    background-color:dodgerblue;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1px;
    margin: 1px;
    height: 100%;
}

#scoalogo{
    height: 50vh;
}

.debug{
    background-color: palevioletred;
    border: 1px solid blue
}
.small{
    height: 10px;width:10px
}
